div{
    height:200px;
    width:500px;
    background-color:pink;
    border-width:5px;
   /* border-style:groove;
    border-color:purple;*/
    border: 5px solid yellowgreen;
    border-top-right-radius: 15px;
    padding-top:50px;
    padding-left:100px;
}
h1{
    /*:2px;
    border-style:dashed;
    border-color:indianred;*/
    border: 2px dashed lightcoral;
}
button{
    height:50px;
    width:100px;
    /*border-style:solid;
    border-color:blue;
    background-color:lightblue;
    border-width:3px;*/
    border: 3px solid black;
}
