h1::first-letter{
    color:violet;
    font-family : Arial, Helvetica, sans-serif;
}
p::first-line{
    color:rgb(211, 226, 43);
}
p::selection{
    background-color: rgb(195, 50, 205);
    color:rgb(0, 255, 76);
}
