div{
    height: 100px;
    width: 100px;
    background-color: rgba(0,50,50, 1);
    margin-top:10px;
    margin:0 auto;
    transition: margin-top 2s, step 3s;
}
div:hover{
   margin-top:400px;
   background-color:#ffc0cbff;
}